*{
    font-family: 'Roboto', sans-serif;
}
.p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #fff;
    margin-top: 10%;
}
 .p1 h2{
     font-weight: 700;
     margin-bottom: 20px;

 }

.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form1 a{
    color: black;
    margin: 0;
}

.a1{
    margin-bottom: 5px;
}
.a2{
    margin: 0;
    padding: 0;
}
.form1 button a{
    color:#ffff27;
}

.form1 p{
    color:#534b4f;
    margin: 0;
    padding: 0;
    margin-top: 3px;
}

.form1 .form-group{
    display: flex;
    flex-direction: row;
}

.form1 button,#modal6submit,#modal6cancel,#modal7confirm,#modal7cancel{
    margin-top: 20px;
    width: 240px;
    padding: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: black solid;
    background: black;
    color:#ffff27;
}

#modal6submit , #modal6cancel,#modal7confirm,#modal7cancel{
    width: 90px;
    border-radius: 0;
    border:#ffff27 solid;
    color: black;
    background: #ffff27;
    margin:30px 5px;
}


.form1 button:hover, .form1 button a:hover,#modal6submit:hover,#modal6cancel:hover,#modal7confirm:hover,#modal7cancel:hover{
    background: #ffff27;
    color:black;
    border: #ffff27 solid;
}
#modal6submit:hover ,#modal6cancel:hover{
    background: black;
    color: #ffff27;
    border: black solid;
}

.form1 i{
    font-size: 25px;
    position: relative;
    z-index: 1;
    left: 25px;
    top: 5px;

}
.form1 input{
    padding: 3px;
    padding-left: 35px;
    width: 240px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: black solid;
    margin-left: 0;
    margin-right: 9px;
    }

/*MODAL*/

.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal img{
    height: 90vh;
    width: 95vw;
}

#modal1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95vw;
    height: 90vh;
    z-index: 2;
    background: rgba(0,0 , 0, 0.1);
}

#modal2{
    z-index: 2;
    position: relative;
    top:30vh;
    left:25vw;
}
#modal2 p{
    color:#ffff27;
    font-size: 30px;
    font-weight: 600;

}

#img2{
    display: none;
}
#img3{
    display: none;
}
#img4{
    display: none;
}

/*MODAL3 , MODAL4 , modal5, modal6,modal7*/

#modal3 , #modal4 , #modal5 , #modal6 , #modal7,#modal8{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

#modal3-content,#modal4-content,#modal6-content,#modal5-content,#modal7-content,#modal8-content{
    background: #fff;
    text-align: center;
    margin: 30% auto;
    width: 60vw;
    height: 30vh;
    border-radius:10px;
    padding:0;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration:1s; 
}
#modal6-content,#modal5-content,#modal8-content{
    width: 70vw;
    height: 40vh;
}
#modal6 p{
    padding:5px;
    padding-top: 10px;
}

#modal6 input,#modal7 input{
    width: 80%;
    border: #fff;
    border-bottom: black solid 1px;
    padding-left: 30%;
}
#modal7-content{
    width: 70vw;
    height: 60vh;
}
#modal7 input{
    padding-left: 5px;
    padding-top: 10px;
}
#modal7 p,#modal8 p{
    padding-top: 10px;
}

#div1 , #div2{
    padding-top: 20px;
}
#modal7 a{
    color: black;
}

#modal3 img,#modal4 img,#modal8 img{
    width: 30%;
    padding:0;
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 0;
}

#modal3 p,#modal4 p{
    margin-top:10px; 
}

#modal3 i,#modal4 i{
    font-size: 150%;
    color: #ffff27;
}

#modal8 i{
    font-size: 150%;
    color: green;
}




/*PAGE 2*/

.p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #fff;
    margin-top: 10%;
}
 .p2 h2{
     font-weight: 700;
     margin-bottom: 20px;
 }

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form2 a{
    color: black;
}

.form2 button a{
    color:#ffff27;
}

.form2 button{
    margin-top: 20px;
    width: 240px;
    padding: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: black solid;
    background: black;
    color:#ffff27;
}

.form2 button:hover{
    background: #ffff27;
    color:black;
    border: #ffff27 solid;
}


.form2 i{
    font-size: 20px;
    position: relative;
    z-index: 1;
    left: 25px;
    top: 3px;

}
.form2 input{
    padding: 3px;
    padding-left: 35px;
    width: 240px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: black solid;
    margin-left: 0;
    margin-right: 9px;
    }


    /*modal5*/

    #modal5 img{
        width: 30%;
        padding:0;
        padding-top:6px;
        padding-bottom: 3px;
        margin: 0;
    }
    
    #modal5 p{
        margin-top:10px; 
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #modal5p2{
        margin: 0;
        padding: 0;
    }
    
    #modal5 i{
        font-size: 150%;
        color: green;
    }
    

/*PAGE3 TITLE*/

.p3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.p3 p{
    margin: 0;
    padding: 0;
    margin-top: 0px;
}
#advertise{
    position: relative;
    z-index: 1;
    top:19vh;
    color: #ffff27;
    left: 25px;
    font-size: 18px;
}
#advertise p:nth-child(1)
{
    font-weight: 600;
}

#no{
    margin:0;
    padding: 0;
}

#food{
    height: 20vh;
    width: 85vw;
    margin: 0;
    padding: 0;
}
#qr{
    margin: 0;
    padding: 0;
    height: 30vh;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0 50px;
    margin-top: 8px;
    background: black;
}
.footer div{
    text-align: center;
    padding: 0 3.5px;
}
.footer i,.footer a{
    color: #a9a9a9;
}


/*page4 more*/
.p4{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.p4 .rr{
    position: relative;
    top:3.5vh;
    left: 95vw;
}
.p4 .rs{
    position: relative;
    top:3.5vh;
    left:1vw;
}
.rr{
    margin: 0;
}
.p4 button{
    background: #fff;
}

.p4 button:nth-child(10)
{
    margin-top: 30px;
}
